.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-size: 0.875rem;
  font-weight: 500;
  outline: none;
  transition:
    background-color 0.2s,
    color 0.2s;
  padding: 0.5rem 1rem;
  pointer-events: auto;
  cursor: pointer;
  border: 1px solid var(--border-color);

  svg {
    margin-right: 0.25rem;
  }
}

.button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.buttonIcon {
  padding: 0.3rem;
  margin: 0.2rem;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  svg {
    margin: 0;
  }
}

.buttonPrimary {
  background-color: var(--primary-button);
  color: var(--font-color);
}

.buttonPrimary:hover {
  background-color: var(--primary-button-hover);
  color: var(--font-color);
}

.buttonSecondary {
  background-color: var(--secondary-button);
  color: var(--background);
}

.buttonSecondary:hover {
  background-color: var(--secondary-button-hover);
  color: var(--background);
}

.buttonBorderless {
  border: none;
  background-color: var(--card);
  color: var(--font-color);
}

.buttonBorderless:hover {
  background-color: var(--secondary-button);
  color: var(--background);
}
