.list {
  display: flex;
  gap: 1rem;
}

.card {
  width: 5rem;
  height: 5rem;
  background-color: var(--background);
}

.activeCard {
  outline: 2px solid var(--outline);
}

.title {
  margin-top: 0;
}
