.footer {
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  margin-top: auto;
}

.footer a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.3s;
}

.footer a:hover {
  color: var(--link-color-hover);
  text-decoration: underline;
}